include form
extend layout
block title
  = __("Edit") + " . " + table.alias + " . "
block content
  - var allow = table.permit("update")
  ol.breadcrumb
    li
      a(href=url("/"))= __("Index")
    li
      a(href=url(table))= table.alias
    li.active= __("Edit")
  if error
    .alert.alert-danger.alert-dismissable
      button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
      |#{error}
  form.form-horizontal(method="POST", enctype="multipart/form-data", action=url(table, data), role="form")
    input(type="hidden", name="_method", value="PUT")
    input(type="hidden", name="_referrer", value=_referrer)
    each column in table.columns()
      - column.disabled = !allow
      if !column.primary && column.permit("update")
        mixin form(column, (params || data)[column.name])
    .form-group
      .col-sm-offset-3.col-sm-5
        if allow
          button.btn.btn-primary(type="submit")= __("Update")
          | &nbsp;&nbsp;&nbsp;&nbsp;
          button.btn.btn-default.back(type="button")= __("Cancel")
        else
          button.btn.btn-default.back(type="button")= __("Back")
