mixin label(column, data)
  .form-group
    label.control-label.col-sm-3 &nbsp;
    .col-sm-5
      p.form-control-static
      if Array.isArray(data)
        each row in data
          span.label.label-info= row[column.name]
          | &nbsp;&nbsp;
      else
        span.label.label-info= data[column.name]

mixin input(column, type, value, step, accept)
  .form-group
    label.control-label.col-sm-3(for=column.name)= column.label
    .col-sm-5
      if column.config("prefix") || column.config("suffix")
        .input-group
          if column.config("prefix")
            span.input-group-addon= column.config("prefix")
          input(class= type=="file" ? undefined : "form-control", type=type, id=column.name, name=column.name, value=value, disabled= column.disabled, step=step, accept=accept)
          if column.config("suffix")
            span.input-group-addon= column.config("suffix")
      else
        input(class= type=="file" ? undefined : "form-control", type=type, id=column.name, name=column.name, value=value, disabled= column.disabled, step=step, accept=accept)
      span.help-block= column.help

mixin _datetime(column, value, timeType, format)
  .form-group
    label.control-label.col-sm-3(for=column.name)= column.label
    .col-sm-5
      div(class="input-group date g-"+(timeType || "datetime")+"picker", data-date-format=format)
        input.form-control(type=type, id=column.name, name=column.name, value=value, disabled= column.disabled, readonly=true)
        span.input-group-addon
          if timeType == "time"
            span.glyphicon.glyphicon-time
          else
            span.glyphicon.glyphicon-calendar
      span.help-block= column.help

mixin textarea(column, value, isHtml)
  .form-group
    label.control-label.col-sm-3(for=column.name)= column.label
    .col-sm-5
      textarea(class=isHtml ? "editor form-control" : "form-control", rows=4, id=column.name, name=column.name, value=value, disabled= column.disabled)
      span.help-block= column.help

mixin select(column, value)
  .form-group
    label.control-label.col-sm-3(for=column.name)= column.label
    .col-sm-5
      select.form-control(class=column.scope ? "scope" : "", id=column.name, name=column.name, value=value, disabled= column.disabled)
        option(value="")= __("Select")
        if column.extra
          for option in column.extra
            option(value=option[0], selected= value==(''+option[0]) ? true: undefined)= option[1]
      span.help-block= column.help

mixin checkgroup(column, value)
  .form-group
    label.control-label.col-sm-3(for=column.name)= column.label
    .col-sm-5
      if column.extra
        - var val = value && (''+value).split(',')
        for option in column.extra
          label.checkbox-inline
            input(type="checkbox", name=column.name, value=option[0], checked= val.indexOf(''+option[0]) != -1 ? true : undefined, disabled= column.disabled)
            span= option[1]
      span.help-block= column.help

mixin radio(column, value)
  .form-group
    label.control-label.col-sm-3(for=column.name)= column.label
    .col-sm-5
      if column.extra
        for option in column.extra
          label.radio-inline
            input(type="radio", name=column.name, value=option[0], checked= value==(''+option[0]) ? true : undefined, disabled= column.disabled)
            span= option[1]
      span.help-block= column.help

mixin bool(column, value)
  .form-group
    label.control-label.col-sm-3(for=column.name)= column.label
    .col-sm-5
      label.radio-inline
        input(type="radio", name=column.name, value="1", checked= value && value !== '0' ? true : undefined, disabled= column.disabled)
        span= __("Yes")
      label.radio-inline
        input(type="radio", name=column.name, value="0", checked= !value || value ==='0' ? true : undefined, disabled= column.disabled)
        span= __("No")
      span.help-block= column.help


mixin password(column, value)
  mixin input(column, "password", value)

mixin text(column, value)
  mixin input(column, "text", value)

mixin number(column, value)
  mixin input(column, "number", value, column.extra)

mixin file(column, value)
  mixin input(column, "file", value)

mixin image(column, value)
  mixin input(column, "file", value, undefined, "image/*")

mixin html(column, value)
  mixin textarea(column, value, 1)

mixin datetime(column, value)
  mixin _datetime(column,  value && dateFormat(value, "yyyy-mm-dd HH:MM"), "datetime", "yyyy-mm-dd HH:MM")

mixin date(column, value)
  mixin _datetime(column, value && dateFormat(value, "yyyy-mm-dd"), "date", "yyyy-mm-dd")

mixin time(column, value)
  mixin _datetime(column, value && value.split(":").slice(0, 2).join(":"), "time", "hh:ii")

mixin form(column, value)
  case column.type
    when 'number'
      mixin number(column, value)
    when 'bool'
      mixin bool(column, value)
    when 'textarea'
      mixin textarea(column, value)
    when 'select'
      mixin select(column, value)
    when 'checkgroup'
      mixin checkgroup(column, value)
    when 'radio'
      mixin radio(column, value)
    when 'file'
      mixin file(column, value)
    when 'image'
      mixin image(column, value)
    when 'datetime'
      mixin datetime(column, value)
    when 'time'
      mixin time(column, value)
    when 'date'
      mixin date(column, value)
    default
      mixin text(column, value)
