mixin test
  div Test mixin
mixin css(src)
  link(href=attributes.src || url("/static/css/"+src), rel='stylesheet')
mixin script(src)
  script(src=attributes.src || url('/static/js/'+src), type='text/javascript')
mixin del(uri)
  .del
    a(href=uri, onclick="if(confirm('"+__("Confirm delete ?")+"')){ $('<form action='+this.href+' method=POST ><input type=hidden name=_method value=DELETE /></form>').submit(); };return false;")
      span.glyphicon.glyphicon-remove
mixin link(content, table, p1, p2, p3, p4)
  a(href= url(table, p1, p2, p3, p4))= content

mixin f-datetime(date)
  if date
    = dateFormat(date, "isoDate")
    br
    = dateFormat(date, "HH:MM")

mixin f-date(date)
  if date
    = dateFormat(date, "isoDate")

mixin f-time(time)
  if time
    = time.split(":").slice(0, 2).join(":")

mixin f-image(src, alt, thumbnail)
  if src
    a.image(href=url((uploadPath.image || (uploadPath + "images/"))+src), title=alt||src, data-gallery)
      if thumbnail
        img(alt=alt, src=url((uploadPath.image || (uploadPath + "images/"))+thumbnail))
      else
        = src

mixin f-file(src)
  if src
    a.file(href=url((uploadPath.file || (uploadPath + "files/")))+src)= src

mixin f-label(content, type, footer)
  if type
    span.label(class="label-" + type)= content
  else
    span.label.label-default= content
  != footer

mixin f-bool(content)
  if content
    = __("Yes")
  else
    = __("No")

mixin f-raw(content)
  != content

mixin format(ar)
  if Array.isArray(ar)
    case ar[0]
      when 'link'
        +link(ar[1], ar[2], ar[3], ar[4], ar[5])
      when 'label'
        +f-label(ar[1], ar[2], ar[3], ar[4], ar[5])
      when 'datetime'
        +f-datetime(ar[1], ar[2], ar[3], ar[4], ar[5])
      when 'date'
        +f-date(ar[1], ar[2], ar[3], ar[4], ar[5])
      when 'time'
        +f-time(ar[1], ar[2], ar[3], ar[4], ar[5])
      when 'bool'
        +f-bool(ar[1])
      when 'image'
        +f-image(ar[1], ar[2])
      when 'file'
        +f-file(ar[1], ar[2])
      when 'raw'
        +f-raw(ar[1], ar[2], ar[3], ar[4], ar[5])
      default
        = ar[1]
  else
    = ar
