include helper
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href=url('/favicon.ico'))
    title
      block title
      = brand_name
    +css("base.min.css")
    +css("bootstrap-theme.css")
    +css("gentle.css")
    block style
    style.
      body{padding-top: 70px;padding-bottom:30px;}
  body(role="document")
    .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      .container
        .navbar-header
          a.navbar-brand(href=url("/"))= brand_name
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            each t in db.tables()
              if(t.permit("manage"))
                li(class = table && t.name == table.name ? "active" : undefined)
                  a(href=url(t))= t.alias
          ul.nav.navbar-nav.navbar-right
            if username
             li 
               a(href="#")= username
             li
               a(href=url("/logout"))= __("Logout")
            else
             li
               a(href=url("/login"))= __("Login")

    .container(role="main")
      block content
    .container
      hr
      .footer
        p &copy; #{brand_name} 2014
    #blueimp-gallery.blueimp-gallery
      .slides
      h3.title
      a.prev ‹
      a.next ›
      a.close &times;
      a.play-pause
      ol.indicator
      .modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              .button.close(type="button", aria-hidden="true") &times;
              h4.modal-title
            .modal-body.next
            .modal-footer
              button.btn.btn-default.pull-left.prev(type="button")
                i.glyphicon.glyphicon-chevron-left
                = __("Previous")
              button.btn.btn-primary.pull.next(type="button")
                = __("Next")
                i.glyphicon.glyphicon-chevron-right
    +script('base.min.js')
    +script('locales/bootstrap-datetimepicker.zh-CN.js')
    +script('gentle.js')
