extend layout
block title
  = table.alias + " . "
block content
  ol.breadcrumb
    li
      a(href=url("/"))= __("Index")
    li.active= table.alias
  include alert
  .btn-toolbar.clearfix(role="toolbar", style="")
    if table.permit("create")
      .btn-group.pull-left
        a.btn.btn-default(href=url(table, "new", params))
          span.glyphicon.glyphicon-plus
          span= __("New")
    if table.search()
      form.pull-left.form-inline.col-sm-3(method="GET", action=url(table))
        .form-group
          .input-group
            input.form-control(name="q", placeholder=table.search().title, value=params.q)
            span.input-group-btn
              if params.q
                a.btn.btn-default(href=url(table, params, {q: undefined}))
                  span.glyphicon.glyphicon-remove
              else
                button.btn.btn-default(type="submit")
                  span.glyphicon.glyphicon-search
    form.pull-left.form-inline
      each col in table.columns()
        if col.permit("filter")
          if col.type == "select"
            .form-group
              label.sr-only= col.label
              select.form-control(onchange="window.location.href = this.value;", disabled= col.disabled)
                - var ob = {}
                - ob[col.name] = undefined
                option(value=url(table, params, ob))= __("All %s", col.label)
                each option in col.extra
                  - ob[col.name] = option[0]
                  option(value=url(table, params, ob), selected= conditions[col.name] == option[0] || params[col.name]==option[0])= option[1]
  if data && data.length
    form(method="get")
      include table
  else
    p.bg-info(style="padding:15px;") Empty data
  if data && data.length
    include pager
