extend layout
block content
  ol.breadcrumb
    li
      a(href=url("/"))= __("Index")
    li.active= table.alias
  if success
    .alert.alert-success.alert-dismissable
      button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
      |#{success}
  if error
    .alert.alert-danger.alert-dismissable
      button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
      |#{error}
  .btn-toolbar.clearfix(role="toolbar")
    if table.permit("create")
      .btn-group.pull-left(style='margin-bottom:10px;')
        a.btn.btn-default(href=url(table, "new"))
          span.glyphicon.glyphicon-plus
          span= __("New")
    if table.search()
      form.pull-left(method="GET", action=url(table), style="padding:0px 10px;")
        .form-group
          input.form-control(name="q", placeholder=table.search().title, value=table.where().q)
  if data && data.length
    form(method="get")
      include table
  else
    p.bg-info(style="padding:15px;") Empty data
  if data && data.length
    include pager
