extend layout
block content
  ol.breadcrumb
    li
      a(href=url("/"))= __("Index")
    li.active= table.alias
  if success
    .alert.alert-success.alert-dismissable
      button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
      |#{success}
  if error
    .alert.alert-danger.alert-dismissable
      button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
      |#{error}
  .btn-toolbar.clearfix(role="toolbar")
    if table.permit("create")
      .btn-group.pull-left(style='margin-bottom:10px;')
        a.btn.btn-default(href=url(table, "new"))
          span.glyphicon.glyphicon-plus
          span= __("New")
    if table.search()
      form.pull-left.form-inline(method="GET", action=url(table))
        |&nbsp;&nbsp;
        .form-group
          input.form-control(name="q", placeholder=table.search().title, value=params.q)
    form.pull-left.form-inline
      each col in table.columns()
        if col.permit("filter")
          if col.type == "select"
            |&nbsp;&nbsp;
            .form-group
              label.sr-only= col.label
              select.form-control(onchange="window.location.href = this.value;")
                - var ob = {}
                - ob[col.name] = undefined
                option(value=url(table, params, ob))= __("All %s", col.label)
                each option in col.extra
                  - ob[col.name] = option[0]
                  option(value=url(table, params, ob), selected=params[col.name]==option[0])= option[1]
  if data && data.length
    form(method="get")
      include table
  else
    p.bg-info(style="padding:15px;") Empty data
  if data && data.length
    include pager
