include form
extend layout
block title
  = action.alias + " . " + table.alias + " . "
block content
  - var key = table.primaryKey()
  ol.breadcrumb
    li
      a(href=url("/"))= __("Index")
    li
      a(href=url(table))= table.alias
    li.active= action.alias
  include alert
  form.form-horizontal(method="POST", enctype="multipart/form-data", action=url(table, action.name), role="form")
    input(type="hidden", name="_referrer", value=_referrer)
    each row in data
      input(type="hidden", name="id", value=row[key])
    if action.display
      +label(table.column(action.display), data)
    each name in action.columns()
      mixin form(table.column(name), (params || {})[name])
    .form-group
      .col-sm-offset-3.col-sm-5
        button.btn.btn-primary(type="submit")= action.submit || __("Save")
        | &nbsp;&nbsp;&nbsp;&nbsp;
        a.btn.btn-default.back(href=_referrer || url(table))= __("Cancel")
