include form
extend layout
block title
  = __("New") + " . " + table.alias + " . "
block content
  ol.breadcrumb
    li
      a(href=url("/"))= __("Index")
    li
      a(href=url(table))= table.alias
    li.active= __("New")
  include alert
  form.form-horizontal(method="POST", enctype="multipart/form-data", action=url(table, 'new'), role="form")
    input(type="hidden", name="_method", value="POST")
    input(type="hidden", name="_referrer", value=_referrer)
    each column in table.columns()
      if !column.primary && column.permit("update")
        mixin form(column, (params || {})[column.name])
    .form-group
      .col-sm-offset-3.col-sm-5
        button.btn.btn-primary(type="submit")= __("Create")
        | &nbsp;&nbsp;&nbsp;&nbsp;
        button.btn.btn-default(type="submit", name="_next", value=_next)= __("%s and continue", __("Create"))
        | &nbsp;&nbsp;&nbsp;&nbsp;
        a.btn.btn-default(href=_referrer || url(table))= __("Cancel")
