.clearfix
  if pager.len
    ul.pagination.pull-right
      li(class=pager.prev ? undefined : "disabled")
        a(href=url(table,{page:pager.prev})) &laquo;
      each page in pager.pages
        li(class= page == pager.page ? "active" : undefined)
          a(href=url(table,{page:page}))= page
      li(class=pager.next ? undefined : "disabled")
        a(href=url(table,{page:pager.next})) &raquo;
  .pull-right(style="margin: 26px 20px;")
    p= __("Total: %d, Page: %d, Per page size: %d", pager.total, pager.len, pager.per_size)
